h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}
.parent_buttons {
	background: #86e95a; /*green*/
	float: right;
	width: 500px;
	height: 500px;
}
.button_size, .button_rotate, .button_random{
	background: #5c68da; /*blue for buttons*/
	width: 450px;
	height: 120px;
	margin: 20px auto;
}
.parent_domino {
	float: left;
	width: 500px;
	height: 500px;
	background: #e85959; /*red*/
	position: relative;
}
#domino {
	padding: 10px;
	background: grey;
	display: inline-block;
	width: 150px;
	position: absolute;
	left: 150px;
	top: 70px;
	transition: all 0.5s linear;
}

.up,.down div,h2 {
  display: none;
  height: 150px;
  border: 3px solid black;
  margin: 5px;
  font-size: 35px;
  text-align: center;
  background: blue;
}

