@media screen and (max-width: 1000px) {
	nav {
		display:none;
	}
	header>div, footer>div, #Banner>div, .dots_container>div, .blocks_container>div, .under_border_header_gradient{
		width:648px;
	}
	#logo, .under_header_gradient, .dots_container>div>div {
		width:100%;
	}
	.under_header_gradient{
		height:100%;
	}
	.under_slider_gradient{
		bottom:-20px;
		left:34px;
		top:auto;
		right:auto;
		margin:auto;
		background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 89%);
	}
	#slider, #Banner_text, .dots_container>div>div {
		float:none;
	}
	#slider {
		margin:auto;
	}
	#Banner_text {
		width:auto;
		margin:32px;
	}
	.menu_responsive{
		display:block;
	}
	footer>div>.menu {
		display:none;
	}
	#GlobalNavi {
		width:100%;
	}
	#GlobalNavi>a {
		margin:0 46px;
	}
}