@font-face {
    font-family: BebasNeue;
    src:url(../fonts/bebas_neue/TTF%27s/BebasNeue%20Regular.ttf);
}
* {
	margin:0px;
	padding:0px;
	font-size:22px;
	font-weight:normal;
	font-family:Roboto,arial,sans-serif;
}
a {
	font-size:inherit;
	text-decoration:none;
	color:inherit;
}
header {
	color:#FFF;
	width:100%;
	background-color:#00262b;
}
header>div {
	padding:34px 0 18px;
	width:940px;
	margin:auto;
	overflow:hidden;
	/*border-width:0 0 2px;
	border-style:solid;
	-webkit-border-image:
		-webkit-gradient (liner, 0 0, 0 100%, from(black), to(rgba(0,0,0,0)) ) 1 100%;
	-webkit-border-image:
		-webkit-liner-gradient (to bottom, black, rgba(0,0,0,0)) 1 100%;
	-moz-border-image:
		-moz-liner-gradient (to bottom, black, rgba(0,0,0,0)) 1 100%;
	-o-border-image:
		-o-liner-gradient (to bottom, black, rgba(0,0,0,0)) 1 100%;
	order-image:
		liner-gradient (to bottom, black, rgba(0,0,0,0)) 1 100%;*/
}
.under_border_header_gradient {
	padding:0;
	margin:auto;
	height:2px;
	width:940px;
	background: rgba(255,255,255,0);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,108,120,1) 50%, rgba(255,255,255,0.01) 100%);
}
.logo_gradient {
	position:absolute;
	width:100%;
	height:230px;
	bottom:0;
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 50%);
}
#logo {
	position:relative;
	width:357px;
	float:left;
}
#logo>p {
	text-align:center;
}
#logo>p>a {
	font-family:BebasNeue;
	font-size:61px;
	font-weight:bold;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
}
nav {
	margin:13.5px 0;
	float:right;
}
.menu>li{
	font-size:16px;
	padding:12px;
	height:12px;
	margin-left:-6px;
	display: inline-block;
	color:#0cd2db;
}
.menu>li:hover{
	background-color:#007485;
}
.menu_responsive{
	display:none;
	width:100%;
}
.menu_responsive>.menu {
	margin:auto;
	display:table;
}
.menu_responsive>.menu>li {
	display:table-cell;
}
#Banner {
	color:#FFF;
	width:100%;
	background-color:#00262b;
}
#Banner>div {
	width:940px;
	margin:auto;
	padding:32px 0;
	position:relative;
	overflow:hidden;
}
.under_header_gradient{
	width:940px;
	height:396px;
	bottom:50%;
	position:absolute;
	background: radial-gradient(ellipse at center, rgba(0,109,120,0.7) 0%, rgba(255,255,255,0) 50%);
}
.under_slider_gradient{
	width:580px;
	height:436px;
	right:0;
	top:-20px;
	position:absolute;
	background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 89%);
}
#Banner_text {
	width:290px;
	float:left;
}
#Banner_text>h1 {
	font-size:61px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#slider {
	width:580px;
	position:relative;
	float:right;
}
#slider>img {
	width:580px;
	height:295px;
}
#slider>.slider_caption {
	position:absolute;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	bottom:0;
}
#slider>div>h2 {
	margin:13px;
}
.slider_buttons{
	top:128.5px;
	overflow:hidden;
	position:absolute;
	height:38px;
	width:100%;
}
.slider_left_button, .slider_right_button{
	width:27px;
	height:100%;
	background-color:rgba(0,0,0,0.8);
}
.slider_left_button{
	float:left;
}
.slider_right_button{
	float:right;
}
.Container {
	background: linear-gradient(to bottom, rgba(168,168,168,0.8) 0%, rgba(255,255,255,1) 50%);
}
.dots_container {
	width:100%;
}
.dots_container>div {
	width:940px;
	height:72px;
	margin:auto;
	overflow:hidden;
	border-bottom:1px solid #777777;
}
.dots_container>div>div {
	width:580px;
	margin:36px 0 16px;
	float:right;
}
.dots_container ul {
	width:181px;
	height:20px;
	margin:auto;
}
.dots_container li {
	height:18px;
	width:18px;
	background-color:#777777;
	border-radius:10px;
	margin-left:-6px;
	margin-right:20px;
	border: 1px solid #777777;
	display:inline-block;
}
.blocks_container {
	width:100%;
}
.blocks_container>div {
	padding-top:34px;
	overflow:hidden;
	width:974px;
	margin:auto;
}
.blocks_container>div>div {
	float:left;
	height:362px;
	width:290px;
	margin:0 17px 34px;
	position:relative;
}
.blocks_container img {
	height:145px;
	width:290px;
}
.blocks_container p{
	font-size:20px;
	padding:36px 15px;
}
.read_more {
	text-align:center;
	position:absolute;
	border-radius:18.5px;
	border:3px dashed #000000;
	background: linear-gradient(to bottom, rgba(168,168,168,0.3) 0%, rgba(255,255,255,0.3) 50%);
	height:37px;
	width:108px;
	font-size:15px;
	bottom:0;
}
.read_more>a {
	padding:10px;
	display:block;
}
.read_more:hover {
	background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(168,168,168,0.3) 50%);

}
footer{
	width:100%;
	height:97px;
	background-color:#000;
}
footer>div{
	width:940px;
	overflow:hidden;
	margin:auto;
}
footer>div>ul {
	float:left;
	margin:30.5px 0;
}
#GlobalNavi{
	height:64px;
	margin:16.5px 0;
	float:right;
}
.first_li {
	margin-left:0 !important;
}
.last_li {
	margin-right:0 !important;
}